# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../mangaApi\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\azor40k\desktop\node\api-node\mangaApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
