# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Api-Node\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\azor40k\Desktop\node\Api-Node\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
